@tailwind base;
@tailwind components;
@tailwind utilities;


.perspective-1000 {
    perspective: 1000px;
  }
  
  .backface-hidden {
    backface-visibility: hidden;
  }

  /* Custom scrollbar styles */
.custom-scrollbar::-webkit-scrollbar {
  width:4px; /* Adjust width */
}

.custom-scrollbar::-webkit-scrollbar-track {
  background:transparent; /* Track color */
  border-radius: 10px;
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background: #888; /* Scrollbar handle color */
  border-radius: 10px;
}

.custom-scrollbar::-webkit-scrollbar-thumb:hover {
  background: #555; /* Handle color on hover */
}
